* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../assets/Background.jfif");
}

.candidatos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 5;
}

.logo {
  z-index: -5;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

.mini_logos {
  width: 200px;
  margin: 20px 40px;
  position: absolute;
}

.conhecimento {
  width: 200px;
  right: 0;
}

.projeto {
  width: 400px;
  margin: 20px 0;
  left: -30px;
}

/*Formulário*/
#dados_Aluno {
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 90vh;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;

  background: #337fdb52;
  box-shadow: 0 8px 32px 0 rgba(1, 54, 44, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

/* ALterando Inputs */
input {
  border: none;
  font-size: 1.0625rem;
  border-bottom: 0.125rem solid #1caea2;
  padding: 7px;
  background-color: #2fccbf6d;
  border-radius: 10px;
  color: #fff;
  width: 30%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
}

input:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  border-bottom: 0.125rem solid #199a90;
  outline: 0;
}

input::placeholder {
  color: rgba(253, 253, 253, 0.61);
}

input:-webkit-autofill {
  box-shadow: 0 0 50px 100px #2fccbf6d inset;
  -webkit-text-fill-color: white !important;
}
/* Fim */

/* ALterando Select */
select {
  padding: 10px;
  border-radius: 10px;
  width: 20%;
  background: white;
  border: none;
  font-weight: bolder;
  cursor: pointer;
}

/* Fim */

/* Alterando buttons */
button {
  padding: 10px 20px;
  border-radius: 100px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  font-size: 15px;
  border: 1px solid black;
  background-color: #1d988e;
  color: white;
  cursor: pointer;
  margin: 0 10px;
}

button:hover {
  background-color: #198078;
  transform: scale(1.05);
}

button:active {
  background-color: #16746a;
  transform: scale(0.98);
}

/* Fim */

/* Responsividade */

@media screen and (max-width: 912px) {
  #dados_Aluno {
    height: 80%;
  }

  .logos {
    width: 80%;
  }

  input {
    width: 80%;
    border-bottom: 0.125rem solid rgb(29, 176, 163);
    background-color: transparent;
    border-radius: 5px;
    padding: 0;
    text-transform: capitalize;
    font-size: 12px;
  }

  input:-webkit-autofill {
    box-shadow: 0 0 0 30px #199a8f inset;
  }

  .logo {
    width: 100%;
  }

  .mini_logos {
    width: 20%;
    margin: -2% 4%;
  }

  .conhecimento {
    right: 0;
  }
  
  .projeto {
    left: 0;
  }

  

  select {
    width: 80%;
    font-size: 12px;
  }

  input::placeholder {
    font-size: 12px;
  }
}

/* Fim Responsividade */
